<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crew Finder</title>
</head>
<body>
    <header>
        <h1>CrewFinder</h1>
        <p>Find your perfect teammate and collaborate on projects.</p>
    </header>


    <hr>

    <nav>
        <h2>Join Now!</h2>
        <ul>
          <li><a href="login.html">Sign in</a></li>
          <li><a href="profile.html">My Profile</a></li>
        </ul>
    </nav>

    <hr>

    <main>

        <section>
            <h2>How it works</h2>

            <article>
                <h3>Step 1</h3>
                <p>Create an account or log in.</p>
            </article>

            <article>
                <h3>Step 2</h3>
                <p>Build your own profile.</p>
            </article>

            <article>
                <h3>Step 3</h3>
                <p>Search and connect with teammates.</p>
            </article>

            <article>
                <h3>Step 4</h3>
                <p>Start collaborating on your project.</p>
            </article>

        </section>


    <section>

            <h2>Why Choose CrewFinder?</h2>

            <article>
                <h3>Easy to Use</h3>
                <p>Simple interface to quickly find teammates.</p>
            </article>

            <article>
                <h3>Skill-Based Matching</h3>
                <p>Connect with students who match your skills.</p>
            </article>

            <article>
                <h3>Better Collaboration</h3>
                <p>Work together efficiently on projects.</p>
            </article>
        </section>

    </main>

    <hr>


    <footer>
        <p>& copy; 2026 Crew Finder. All rights reserved.</p>
    </footer>

</body>

</html>