<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrewFinder student system - Login/Sign Up</title>
</head>
<body>


<header>
    <h1>CrewFinder Student System</h1>
    <p>Please login using your username and password</p>
</header>


<main>

    <section id="login-section">
        <h2>Login</h2>

        <form id="login-form">

        <label for="login-username">Username:</label><br>
        <input type="text" id="login-username" name="username"><br><br>

           
        <label for="login-password">Password:</label><br>
        <input type="password" id="login-password" name="password"><br><br>


        <button type="submit" id="login-btn">Login</button>

        </form>

    </section>

</main>

</body>
</html>
