<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <button onclick="window.location.href='signup.html'">← Back</button>
    <title>Create your CrewFinder account- Login/Sign Up</title>
</head>
<body>


<header>
    <h1>Create your CrewFinder account</h1>
    <p>Please login using your username and password</p>
</header>

<main>

    <section id="login-section">
        <h2>Login</h2>

        <form id="login-form">

        <label for="login-username">Username:</label><br>
        <input type="text" id="login-username" name="username"><br><br>

        <label for="login-email">MMU Email:</label><br>
        <input type="email" id="login-email" name="email" placeholder="example@student.mmu.edu.my"><br><br>
    
        <label for="login-password">Password:</label><br>
        <input type="password" id="login-password" name="password"><br><br>


        <button type="submit" id="login-btn">login

        </button>

        </form>

    </section>


</main>

</body>
</html>

</main>

</body>
</html>
